streamlit

numpy
pandas

langchain
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
chromadb
dashscope
google-generativeai

pypdf
pillow
pytesseract

requests
python-dotenv
PyYAML
